{{#partial "content"}}

     <div style="opacity:0.7;text-align:center">
     <h1 style="font-style:oblique;font-family:sans-serif;color:white">Department list!</h1>
         {{#if contain}}

             {{#each contain}}
             <div class="modal-dialog cascading-modal" role="document">
             <div class="modal-content">
                 <h1 style="color:black">Current Department:</h1>
                 <h1 style="color:black;font-style:oblique;font-family:sans-serif">Name</h1>
                 <p> {{ depart_name }}</p>
                 <h1 style="color:black;font-style:oblique;font-family:sans-serif">Position</h1>
                 <p>{{ description }}</p>
                 <h1 style="color:black;font-style:oblique;font-family:sans-serif">News </h1>
                 <p>{{ depart_news }}</p>
             </div>
             </div>
             {{/each}}
         {{else}}
             <p>No department!</p>

         {{/if}}

        </div>
     <style>
    body{
    background-image:url("https://images.pexels.com/photos/372748/pexels-photo-372748.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size:cover;
    background-repeat:no-repeat;
    }
    .one{
    text-align:center;
     color:white;
     text-decoration:underline

    }
</style>
{{/partial}}

{{> layout.hbs}}