{{#partial "content"}}

     <div style="background:white;opacity:0.7;text-align:center">

         {{#if contain}}

             {{#each contain}}
             <div class="modal-dialog cascading-modal" role="document">
             <div class="modal-content">
                 <h1 style="color:black">Current post:</h1>
                 <p style="color:black">Name: {{ depart_name }}</p>
                 <p style="color:black">Position: {{ description }}</p>
                 <!-- <p style="color:black">Role: {{ role }}</p>-->
             </div>
             </div>
             {{/each}}
         {{else}}
             <p>No department!</p>

         {{/if}}

        </div>
{{/partial}}

{{> layout.hbs}}