{{#partial "content"}}

    <button><a href="/posts">User</a> </button>
    <button><a href="/posts2">Department</a> </button>


    <h1 class="one" style="font-family:monospace;font-size:500%">Organisational News Portal</h1>

{{/partial}}
<style>
    body{
    background-image:url("https://images.pexels.com/photos/372748/pexels-photo-372748.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size:cover;
    background-repeat:no-repeat;
    }
    .one{
    text-align:center;
     color:white;
     text-decoration:underline

    }
</style>
{{> layout.hbs}}