<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}NewsPortal{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<ul class="nav nav-tabs">
    <li role="presentation" class="active" style="background-color:red"><a href="/">Home</a></li>
    <li role="presentation"><a href="/here">View All Users</a></li>
    <li role="presentation"><a href="/here2">View all Departments</a>
    <li role="presentation"><a href="/general">General News Form</a>
</ul>
{{#block "content"}}
{{/block}}
{{#block "footer"}}
    </body>
    </html>
{{/block}}