{{#partial "content"}}

    <br><br><br><br><br><br>
    <form style="background-color:black;color:black;opacity:0.7;text-align:center" action="/posts2" method="post">
        <h1 style="padding-top:1%;color:black">Department</h1>
        <label for="depart_name" style="color:white">  Department Name</label><br>
        <input id="depart_name" style="color:black" name="depart_name" type="text"><br>
        <label for="description" style="color:white">Description</label><br>
        <input id="description" style="color:black" name="description" type="text"><br>
        <!--<label for="role" style="color:white">role</label><br>
        <input id="role" name="role" style="color:black" type="text"><br>-->

        <button type="submit" class="btn btn-default" >Add</button><br>
    </form>

    <style>

    </style>
{{/partial}}

{{> layout.hbs}}