{{#partial "content"}}

    <img src="https://i.imgur.com/OupOL6p.gif" ><br>

    <p style="color:white">Your  post has been saved.</p>
    <p style="color:white">Click on the button Go back to view!</p>
    <a href="/here"><button>Go Back</button></a>
    <style>

    </style>
{{/partial}}

{{> layout.hbs}}