{{#partial "content"}}
<div style="text-align:center;color:white">
    <img src="https://i.imgur.com/OupOL6p.gif" ><br>

    <p style="color:white">Your  post has been saved.</p>
    <p style="color:white">Click on the button Go back and  view your saved information without the news included!</p>
    <a href="/here"><button>Go Back</button></a>
 <!--   <a href="/general"><button>Update us</button></a>-->
</div>
    <style>
    body{
    background-image:url("https://images.pexels.com/photos/372748/pexels-photo-372748.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size:cover;
    background-repeat:no-repeat;
    }
    .one{
    text-align:center;
     color:white;
     text-decoration:underline

    }
    .two:hover{
    color:green;
    }
</style>
{{/partial}}

{{> layout.hbs}}